/* @import url(//fonts.googleapis.com/css?family=Oswald:400);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e9efec;
  font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;
} */

.tsTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 10px 10px 5px;
  /* padding: 15px 15px 15px 15px; */
  /* margin: 20px 20px 20px 20px; */
  border-radius: 8px;
  background: rgba(10, 10, 10, 0.97);
  color: #f3efef;
  font-size: 12px;
  font-weight: bold;
  /* text-shadow: 0 1px 0 #fff; */
  text-transform: uppercase;
  text-align: left;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
      -moz-transform: all .3s;
      -ms-transform: all .3s;
        -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
  overflow: hidden;
  transition: transform 0.1s linear 0.1s;
  z-index: 999999;
}

.tsTip:hover {
  transform:scale(1.25);
  border: 1px solid;
  border-color: #999999;
  border-radius: 3px;
  box-shadow: 5px 5px #999999;
  /* To bring top */
  position: relative;
  z-index: 9999;
 }


.checkboxes {
  padding: 0px 10px;
}

.custom-dropdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 5s;
  opacity: 1;
  z-index: 99999;
  background-color: #fff;
}  